@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: 54, 224, 173;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-y: scroll; */

  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(87, 58, 73); */
  /* background: rgb(26, 51, 63); */
  /* background-color: #248564; */
  background-color: hsl(190, 43%, 20%);
  /* -webkit-mask-image: url("./images/noiseTexture.png");
  mask-image: url("./images//noiseTexture.png"); */
}

.MuiSlider-thumb:hover {
  /* box-shadow: 0 0 15px 10px rgba(0, 255, 0, 0.3) !important; */
  background: rgb(16, 43, 46);
}

.MuiSlider-thumb {
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4) !important;
  color: rgb(16, 32, 39);
  border: 1px solid rgba(54, 224, 173, 0.4);
  /* box-shadow: none !important; */
}

.MuiSlider-track {
  color: rgba(54, 224, 173, 1);
  box-shadow: 0 0 15px 0px rgba(54, 224, 173, 0.2);
}

.MuiSlider-rail {
  color: rgba(54, 224, 173, 0.4);
  /* box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.4); */
}

.MuiList-root {
  background: rgb(16, 32, 39);
}

.MuiOutlinedInput-root {
  outline: none;
  border: none;
  color: white;
}

.MuiSelect-select {
  color: white;
  background: white;
}

.MuiFormControl-root {
  color: white;
}

.swiper-slide {
  /* background: rgb(16, 32, 39); */
  height: 200px;
}

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: rgba(54, 224, 173, 1) !important;
  fill: rgba(54, 224, 173, 1) !important;
  stroke: rgba(54, 224, 173, 1) !important;
  /* filter: drop-shadow(0px 0px 2px rgb(54, 224, 173)); */
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
  background: rgba(54, 224, 173, 1) !important;
}

.swiper-container {
  height: 300px;
}

.swiper {
  /* max-height: 600px; */
}

._vertical-swiper {
  max-height: 600px;
}

.swiper-wraper {
  max-height: 300px;
}

.swiper-vertical {
  .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 20px !important;
    width: 20px;
  }
}

.swiper-vertical {
  .swiper-pagination-bullet {
    // padding: 2px;
  }
}

.swiper-horizontal {
  .swiper-pagination {
    width: 10px;
    margin: 5px !important;
  }
}

.swiper-vertical > {
  .swiper-pagination {
    height: 200px;
    display: grid;
    align-items: center;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(16, 32, 39);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 224, 173, 0.8);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 224, 173, 0.9);
}
